
section.card {
  background-color: var(--Dark-Grey);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.3rem;
  gap: 0.9rem;
  border-radius: 0.6rem;
  max-width: 380px;
}
p.location {
  color: var(--Green);
  margin-bottom: 1.4rem;
}
p {
  font-size: 14px;
}
h1 {
  font-family: "Inter-b";
  /* margin-bottom: 0.3rem; */
}
img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
figure {
  width: 100px;
  height: 100px;
  margin-bottom: 0.5rem;
}
button {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 0.4rem;
  font-family: "Inter-s";
  background-color: var(--Grey);
  color: var(--White);
  cursor: pointer;
}
button:hover {
  color: var(--Dark-Grey);
  background-color: var(--Green);
}