* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
}
@font-face {
  font-family: "Inter-r";
  src: url(./assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter-b";
  src: url(./assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter-s";
  src: url(./assets/fonts/static/Inter-SemiBold.ttf);
}
body {
  background-color: var(--Off-Black);
  color: var(--White);
  font-family: "Inter-r";
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}